<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">详情</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <!--<h3>订单摘要</h3>-->
          <div class="table-responsive">
            <table class="table table-bordered table-striped fix-th-width">
              <thead>
              <tr>
                <th colspan="2">订单摘要</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>订单号：</th>
                <td><%= @order.number %></td>
              </tr>
              <tr>
                <th>订单状态：</th>
                <td><%= @order.state %></td>
              </tr>
              <tr>
                <th>支付状态：</th>
                <td><%= @order.payment_state %></td>
              </tr>
              <tr>
                <th>订单金额：</th>
                <td><%= @order.payment_total %></td>
              </tr>
              <tr>
                <th>下单日期：</th>
                <td><%= @order.created_at %></td>
              </tr>

              </tbody>
            </table>

            <table class="table table-bordered table-striped fix-th-width">
              <thead>
              <tr>
                <th colspan="4">订单商品</th>
              </tr>
              </thead>
              <tbody>
              <% @order.line_items.each do |line_item| %>
                <tr>
                  <th>商品名称：</th>
                  <td><%= line_item.product.name %></td>
                  <th>数量:</th>
                  <td><%= line_item.quantity %></td>
                </tr>
              <% end %>

              </tbody>
            </table>

            <% if @order.may_complete? %>
              <a href="<%= complete_admin_order_path(@order) %>" style="float: right; " data-method="post"><button type="button" class="btn btn-success btn-lg">完成服务</button></a>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
</div>