<%= form_for [:admin, @product] do |f| %>

  <div class="form-group">
    <label>商品名称*</label>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>默认价格*</label>
    <%= f.text_field :price, class: 'form-control' %>
  </div>

  <% if @product.new_record? %>
    <div class="form-group">
      <label>原型</label>
      <%= f.select :prototype_id, content_tag(:option,'无',:value=>"") + options_from_collection_for_select(Prototype.all, :id, :name, @product.prototype_id) %>
    </div>
  <% end %>

  <% unless @product.new_record? %>
    <div class="form-group">
      <label>所属分类</label>
      <%= f.select :category_ids, nested_set_options(Category) {|i| "#{'-' * i.level} #{i.name}" }, {:include_blank => '无'} %>
    </div>
    <div class="form-group">
      <label>所属品牌</label>
      <%= select_tag :brand_id, options_from_collection_for_select(Brand.all, :id, :name, @product.brand.try(:id)), {:include_blank => '无'} %>
    </div>

    <div class="form-group">
      <label>商品简介</label>
      <%= f.text_area :description, class:"form-control", rows: "3" %>
    </div>

    <div class="form-group">
      <label>商品详情</label>
      <%= f.text_area :details, id: "editor", placeholder: "Balabala" %>
    </div>

    <div class="form-group">
      <label>商品图片</label>
      <input type="file" id="upload" multiple />
    </div>

    <div class="multiple_picture" name_value="images[]">
      <ul id="max-picture-number" class="edit_product_pictures clear-fix <%= 'data' unless @product.new_record? %>" max-picture-number="6">
        <% @product.images.each do |image| %>
          <li><input type="hidden" name="images[]" value="<%= image.url %>"/><img src="<%= image.full_url + '?x-oss-process=image/resize,w_150' %>" alt="图片说明"/><a class="hit_ajax delete" >删除</a></li>
        <% end %>
      </ul>
    </div>

    <div class="form-group">
      <label>规格选项</label>
      <%= f.select :option_type_ids, options_from_collection_for_select(OptionType.all, :id, :name, {:selected => @product.option_type_ids}), {include_hidden: false}, {class: 'select2', multiple: true} %>
    </div>
  <% end %>

  <div class="form-group">
    <label>上架</label>
    <label class="radio-inline">
      <input type="radio" name="product[available]" id="available_true" value="true" <%= 'checked="checked"' if @product.available == true %> >是
    </label>
    <label class="radio-inline">
      <input type="radio" name="product[available]" id="available_false" value="false" <%= 'checked="checked"' if @product.available == false %>>否
    </label>
  </div>
  <div class="form-group">
    <label>排序</label>
    <%= f.text_field :position, class: 'form-control' %>
  </div>
  <button type="submit" class="btn btn-default"><%= @product.new_record? ? '创建' : '更新' %></button>
  <button type="reset" class="btn btn-default">取消</button>
<% end %>