<tr>
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%= product.brand.try(:name) %></td>
  <td><%= product.price %></td>
  <td><%= product.available == true ? '是' : '否' %></td>
  <td><%= product.categories.map(&:name).join(",")%></td>
  <td></td>
  <td>
    <%= link_to '编辑', edit_admin_product_path(product) %>
    <%= link_to '删除', admin_product_path(product), method: :delete %>
  </td>
</tr>